@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-style a, footer.vertical .social-icons a, footer.horizontal a {
  padding: 0.4rem;
  transition: all 1s;
}
.link-style a:hover, footer.vertical .social-icons a:hover, footer.horizontal a:hover {
  color: #ff652f;
}

footer.horizontal {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

footer.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
}
footer.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
footer.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.nav {
  padding: 1rem;
  height: 10vh;
}
.nav_list {
  text-align: right;
}
.nav_item {
  display: inline;
  padding: 1rem;
}
.nav_link {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 1s;
}
.nav_link:hover {
  color: yellowgreen;
}
.nav_link--active {
  color: #ff652f;
}

.about-bgImg-container {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../../image/model-1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-bgImg-container .about__bio-image {
  text-align: center;
}
.about-bgImg-container .about__bio-image h2 {
  font-size: 3rem;
  color: #ff652f;
}
.about-bgImg-container .about__bio-image p {
  font-size: 1.2rem;
  margin: 2rem;
}

.about__container {
  width: 70vw;
  margin: 2rem auto;
}
.about__job {
  margin: 1rem;
  background: #464646;
  padding: 1rem;
  border-bottom: 5px solid #ff652f;
}
.about__job h2,
.about__job h3 {
  margin: 0.5em 0;
}
.about__job h6 {
  margin: 0.5rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.home-bgImage-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../../image/model-1.png");
  background-position: center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home_name {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home_name-last {
  color: rgb(131, 31, 64);
  font-weight: 700;
}

.project-bgImg-container {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../../image/model-1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-bgImg-container .projects__bio-image {
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 2rem 0;
}
.projects__item {
  width: 100%;
  cursor: pointer;
  border-bottom: 5px solid #ff652f;
  position: relative;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  height: 100%;
  width: 100;
  background-color: #ff652f;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
}
.projects__item:hover::after {
  opacity: 0.7;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  color: #eee;
  background-color: #272727;
  height: 100vh;
}

a {
  color: #eee;
}

h1,
h2,
h3 {
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
