//**************ABOUT PAGE *********//

.about-bgImg-container {
    // border: 2px solid red;
    @include bgImage(50vh, $main-bgImage-path);
    //!👆 Burada resime 50 vh vermemın sebebi projede about sayfasının yarıasnı kaplaması
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .about__bio-image {
        text-align: center;

        h2 {
            font-size: 3rem;
            color: $secondary-color;
        }

        p {
            font-size: 1.2rem;
            margin: 2rem;
        }
    }

}