//*****VARİABLES********//

//* Colors
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;
$third-color: rgb(23, 192, 23);



//* Font 
$font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;


$main-bgImage-path: '../../image/model-1.png';